body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

dl {
  flex: auto;
  justify-content: center;
  display: flex;
  padding: 5px;
  border: 2px solid black;
}

#hourCard {
  margin: 10px;
}

.selected {
  background: #e8e4e1;
}
