body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 8px;
}


#clear {
  width: 180px;
}

#display {
  height: 80px;
  width: 240px;
  background: #e8e4e1;
}

#pad {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  background-color: #f9d3b6;
}
